<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PineyBaptistChurch</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1>PineyBaptistChurch
    <button class="button" (click)="flipMenu()">Menu</button>
  </h1>
  

  <div class="popup" *ngIf="menuSetting">
    <button (click)="openLive()">Live Stream</button>
    <button>SMS System</button>
    <button (click)="openPrRequest()">Prayer Request</button>
  </div>
  <div class="popup-container" [ngClass]="{'show': liveFlag}" *ngIf="liveFlag">
    <span class="close-button" (click)="openLive()">X</span>
    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fpineybaptistchurchoakdaletn%2Fvideos%2F3575467446107295%2F&show_text=true&width=560&t=0" width="800px" height="800px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>
  <div class="popup-container-request" *ngIf="PrRequest">
    <form class="center">
      <h1>Everything Aside From The Description Is Optional</h1><br>
      <label for="fname">Name</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Email Address</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label for="body">Description</label><br>
      <input type="text" id="body" name="body"><br>
    </form>

  </div>
</body>
</html>

<!-- keep this below -->
<router-outlet></router-outlet>
